{% extends 'base.html' %}
{% block body %}
  <div id="error-view" class="not-too-big">
    <div class="text-center">
      <h3>가중치 세부 조정</h3>
      <form action="/weight_update/" method="post">
        {% csrf_token %}
        Name: {{ form.name }}<br>
        Description: {{ form.description }}<br>
        Class 1: {{ form.class_1 }}<br>
        Class 2: {{ form.class_2 }}<br>
        Objective: {{ form.objective }}<br>
        Abilities AVG: {{ form.abilities_avg }}<br>
        Abilities CONCAT: {{ form.abilities_concat }}<br>
      <input type="submit" value="Submit">
      {% if success %}
      <h3>업데이트 완료</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}
