{% extends 'base.html' %}
{% block body %}
  <div id="error-view" class="not-too-big">
    <div class="text-center">
      <h3>가중치 세부 조정</h3>
      <br><br>
      <form action="/weight_update/" method="post">
        {% csrf_token %}
        <div id="form_style">
        <div id="form_left" class="font_temp">
        직종명:<br>
        직종정의: <br>
        대분류: <br>
        중분류: <br>
        훈련목표: <br>
        필수능력단위 평균: <br>
        필수능력단위 연결: <br><br>
        </div>
        <div id="form_right">
          {{ form.name }} <br>
          {{ form.description }} <br>
          {{ form.class_1 }} <br>
          {{ form.class_2 }} <br>
          {{ form.objective }} <br>
          {{ form.abilities_avg }} <br>
          {{ form.abilities_concat }} <br><br>
        </div>
      </div>
      <input type="submit" value="업데이트">
      {% if success %}
      <h3>업데이트 완료</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}
