<nav id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">직업교육훈련 유사도 분석 시스템</a>
    </div>
    <div id="header-collapse" class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'preprocess' %}">전처리 및 임베딩 빌드</a>
            </li>
            <li>
              <a href="{% url 'weight_update' %}">알고리즘 세부 설정</a>
            </li>
            <li>
              <a href="{% url 'retrieve' %}">유사도 분석</a>
            </li>
        </ul>
    </div>
  </div>
</nav>
